@font-face {
    font-family: "deutschGotisch";
    src: url("../fonts/deutschGotisch.otf") format("woff"), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url("../fonts/deutschGotisch.otf") format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: "Germania";
    src: url("../fonts/Germania.ttf") format("woff"), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url("../fonts/Germania.ttf") format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body {
    background-image: url("../images/germany.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-family: "Germania";
}

header {
    font-size: 75px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

p1 {
    color: red;
}

#showTimer {
    font-size: 60px;
    color: ghostwhite;
    text-align: center;
}

#quiz {
    background-color: rgba(11, 14, 11, 0.377);
    margin: auto;
    margin-bottom: 40px;
    padding: 20px 0px 0px 0px;
    width: fit content;
}

#mainQs {
    font-size: 30px;
    color: ghostwhite;
    text-align: center;
}

#startBut {
    background-color: red;
    color: ghostwhite;
    display: block;
    font-family: "deutschGotisch";
    font-size: 50px;
    margin: 0 auto;
    padding: 15px;
}

#doneBut {
    background-color: black;
    color: red;
    display: block;
    font-size: 50px;
    margin: 0 auto;
    padding: 15px;
    
}

#results {
    color: ghostwhite;
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}